<!doctype html>
<html>
<head>
    <title>Wishlist site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>WISHLIST APP</h1>
        <img src="https://imgs.search.brave.com/MIy92YFXB9yzFU8JiTKxXIQixTD0EAql6rFCtb7DivI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzEwLzU5LzQzLzUw/LzM2MF9GXzEwNTk0/MzUwMTVfMEJQaXNM/RXM1SU1wamc1ZTZz/dUhlTjJZY2xIT1Aw/QjQuanBn" alt="pen paper wishlist">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
