<!doctype html>
<html>
<head>
    <title>Zelda year site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Zelda game finder</h1>
        <img src="https://imgs.search.brave.com/dZO-wR0ub20hV_vR5xsCsZXAbpIamcI-0i64ZCDqyhw/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly96ZWxk/YS5uaW50ZW5kby5j/b20vYXNzZXRzL2lt/Zy90aW1lbGluZS90/aGUtbGVnZW5kLW9m/LXplbGRhL3RodW1i/bmFpbC5qcGc" alt="Link looking into wild">

        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
